@import '../../styles/variables.scss';

.nfts {
    @include flexCenter(column);
    justify-content: space-between;
    width: 100%;

    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: black;
        text-align: center;
        margin-bottom: 43px;
    }

    &_card {
        width: inherit;
        @include flexCenter(row);
        flex-wrap: wrap;
        gap: 24px;
    }
}


/***************** media queries **********************/

@media (min-width: $md) {
    .nfts {

        h2 {
            font-size: 48px;
            line-height: 60px;
        }
    }
}