@import '../../styles/variables.scss';

.footer {
    height: 400px;
    background-color: $backgroundColorBlack;
    padding: 10px 20px;
    @include flexCenter(column);
    justify-content: space-between;

    &_links {
        color: #F7F7F7;
        height: 120px;
        width: 100%;
        @include flexCenter(column);
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;

        &__logo {
            object-fit: contain;
            color: #F7F7F7;
            width: 150px;
            height: 25px;
        }

        &_icon {
            width: 100px;
            @include flexCenter(row);
            justify-content: space-between;

            img {
                object-fit: contain;
                cursor: pointer;
            }
        }

        p {
            height: 18px;
            width: 135px;
            @include flexCenter(row);
            justify-content: space-between;
        }
    }

    &_note {
        height: 280px;
        width: 100%;
        @include flexCenter(column);
        justify-content: space-around;
        align-items: flex-start;

        div {
            width: 100%;
            @include flexCenter(column);
            justify-content: space-between;
            align-items: flex-start;

            h5 {
                color: $white;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
            }

            ul {
                width: 95%;
                max-width: 400px;
                text-decoration: none;
                @include flexCenter(row);
                align-items: flex-start;
                justify-content: space-around;

                li {
                    height: 19px;
                    color:  #F1F3F9;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 35px;
                    list-style-type: none;
                }
            }
        }
    }
}

/************** media queries ********************/


@media(min-width: $md) {
    .footer {
        height: 322px;
        padding: 0px 50px;
        @include flexCenter(row);
        justify-content: space-between;
    
        &_links {
            width: 300px;
            height: 260px;
            @include flexCenter(column);
            justify-content: space-around;
            align-items: flex-start;

            &__logo {
                color: #F7F7F7;
                width: 150px;
                height: 25px;
            }

            &_icon {
                width: 130px;
                @include flexCenter(row);
                justify-content: space-between;
    
                img {
                    cursor: pointer;
                }
            }
    
            p {
                height: 18px;
                width: 135px;
                @include flexCenter(row);
                justify-content: space-between;
            }
        }
    
        &_note {  
            width: 450px;
            @include flexCenter(row);
            justify-content: space-between;

            div {
                width: 101px;
                height: 169px;
                @include flexCenter(column);
                justify-content: space-between;
                align-items: flex-start;

                h5 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                }

                ul {
                    height: 124px;
                    text-decoration: none;
                    @include flexCenter(column);
                    align-items: flex-start;
                    justify-content: space-between;
                }

                li {
                    height: 19px;
                    color:  #F1F3F9;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 35px;
                    list-style-type: none;
                }
            }
        }
    }
}

@media(min-width: $lg) {
    .footer {
        padding: 0px 100px;
    
        &_note {
            width: 500px;
        }
    }
}

@media(min-width: $xl) {
    .footer {
    
        &_note {
            width: 698px;
        }
    }
}