@import '../../styles/variables.scss';

.giftcard {
    padding: 0px 20px;
    margin-top: 53px;
    height: 710px;
    background-color: $purpleColor;
    color: $white;
    @include flexCenter(column);
    justify-content: space-around;
    flex-wrap: wrap;

    &_left {
        z-index: 2;
        height: 280px;
        max-width: 400px;
        @include flexCenter(column);
        justify-content: space-between;
        align-items: flex-start;

        h2 {
            width: 346px;
            height: 60px;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
        }

        p {
            width: inherit;
            font-weight: 400;
            font-size: 1em;
            line-height: 25px;
        }

        input {
            cursor: pointer;
            font-family: $fontFamily;
            color: $purpleColor;
            background-color: $white;
            height: 48px;
            width: 156px;
            border: 1px solid $purpleColor;
            border-radius: 8px;
        }
    }

    img {
        z-index: 1;
        width: 20em;
        object-fit: contain;
    }
}

/***************** media queries *************************/

@media (min-width: $md) {
    .giftcard {
        padding: 0px 50px;
        @include flexCenter(row);
    
        &_left {
 
            h2 {
                font-size: 48px;
            }
    
            p {
                margin-bottom: 0px;
                width: 420px;
                font-size: 18px;
                line-height: 30px;
            }
        }

        img {
            width: 25em;
        }
    }
}

@media (min-width: $lg) {
    .giftcard {
        padding: 0px 50px;
        @include flexCenter(row);
        justify-content: space-between;
       
        &_left {
            p {
                height: 136px;
            }
        }

        img {
            width: 25em;
            height: 574.85px;
        }
    }
}

@media (min-width: $xl) {  
    .giftcard {
        height: 774px;

        img {
            width: 40em;
        }
    }
}